<!doctype html>
<html lang="en" ng-app="pruebaGravility">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prueba Gravility</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- importacion angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-animate.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.grey-orange.min.css">
    <link rel="stylesheet" href="styles.css">

    <!-- Importando Preferencias de la aplicacion -->
    <script  type="text/javascript" src="js/app.js"></script>
    <script  type="text/javascript" src="js/controller.js"></script>
    <script  type="text/javascript" src="js/constants.js"></script>
    <script  type="text/javascript" src="js/services.js"></script>

  </head>
  <body>
    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded" ng-controller="informacionAplicacion">
      <main class="mdl-layout__content">
        <div class="demo-blog__posts mdl-grid">
          <div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col ajuste-visual">
            <div class="mdl-color-text--grey-600 mdl-card__supporting-text background-title">
              <table class="expandir-ancho">
                <th ng-show="data.consultando">
                  <div class="mdl-spinner mdl-js-spinner is-active"></div>
                </th>
                <th ng-show="!data.consultando">
                  <button id="demo-menu-lower-left"
                    class="mdl-button mdl-js-button mdl-button--icon" ng-click="acerca()">
                    <i class="material-icons">&#xE8EE;</i>
                  </button>
                </th>
                <th>
                    <div class="expandir-ancho">
                      <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" ng-model="data.url" type="text" id="sample1">
                        <label class="mdl-textfield__label" for="sample1">Digita la url a consultar ...</label>
                      </div>
                      <button class="mdl-button mdl-js-button mdl-button--primary" ng-click="consultarUrl()">
                        <i class="material-icons" style="color: white;">&#xE163;</i>
                      </button>
                    </div>
                </th>
              </table>
            </div>
            <div class="mdl-card__supporting-text meta mdl-color-text--grey-300 ">
              <div class="demo-card-wide mdl-card mdl-shadow--2dp expandir-ancho">

                   <!-- IMICIO DE LOS CARD DE MUESTRA -->
                <div ng-repeat="noticia in informacion">
                   <div class="demo-card-wide mdl-card mdl-shadow--2dp expandir-ancho" >
                      <div class="mdl-card__title" style="background: url('{{noticia.image}}') center / cover;">
                        <h2 class="mdl-card__title-text"><b>{{noticia.title}}</b></h2>
                      </div>
                      <div class="mdl-card__supporting-text description-notice">
                        {{noticia.content}}
                      </div>
                    </div>
                    <br>
                </div>
                   <!-- FIN DE LOS CARD DE MUESTRA-->

              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <dialog class="mdl-dialog">
     <h4 class="mdl-dialog__title">Acerca</h4>
     <div class="mdl-dialog__content">
       <p>
         La prueba fue desarrollada por Aric Dayan Gutierrez.<br>
         Se útilizo el modulo de <a href="https://getmdl.io/components/index.html">bootstrap material design</a> para el diseño de la aplicación.
         Para las animaciones e interacción de datos desde el usuario se utilizó <a href="https://angularjs.org">angular js</a>.
       <p>
     </div>
     <div class="mdl-dialog__actions">
       <button type="button" class="mdl-button close" >Cerrar</button>
     </div>
   </dialog>
    <script src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  </body>
</html>
